{% extends 'layout.html' %}

{% block contentA %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="my-4">Terms of Service</h1>
      <p class="font-weight-light font-italic">Updated 25 April 2022</p>

      <h6 class="my-2">Paydee Link Merchant Services Agreement</h6>

      <p>By applying for Paydee Link services through the signing of Paydee Merchant Application
        Form, the Merchant acknowledge that the Merchant has read, understand and agree to be bound by all of the terms
        and conditions of this Merchant Agreement (“Agreement”).</p>
      <p>This Agreement is made on the effective date between:-</p>
      <ol type="A">
        <li>
          <strong>PAYDEE SDN BHD</strong> (Company No. 684518-T), a company incorporated
          under the Companies Act 1965 with its registered office at Level 1, Synergy 9,
          9 Jalan Kajibumi U1/70, Temasya Glenmarie, 40150 Selangor, Malaysia
          (hereinafter called “<strong>Paydee</strong>”);
        </li>
        <p class="font-weight-bold">AND</p>
        <li>The business name described in Paydee Merchant Application Form
          (hereinafter called “<strong>Merchant</strong>”).</li>
      </ol>
      <p class="my-4 font-weight-bold">WHEREAS:</p>
      <ol type="A">
        <li>
          Paydee operates a Payment Card business in Malaysia pursuant to licenses granted by Visa and MasterCard and
          is registered by Bank Negara Malaysia (BNM) to conduct Merchant Acquiring Services under the Financial
          Services Act 2013 (FSA).
        </li>
        <li>
          Under Paydee Link (a payment gateway), Merchant is able to accept payments from Customers for services
          provided from the Merchant via the payment gateway in accordance with this Agreement.
        </li>
        <li>
          The Merchant agrees to use the Paydee Link services to enable the processing of Transactions made by
          Customers subject to the terms and conditions as set out in this Agreement.
        </li>
      </ol>

      <p class="my-2 mb-2">NOW IT IS HEREBY AGREED AS FOLLOWS: -</p>

      <h6 class="my-4">1. DEFINITIONS</h6>
      <p>In this Agreement, the following terms and expressions shall have the meaning assigned to them unless the
        context requires otherwise:-</p>
      <ol style="list-style-type: none">
        <li>
          -	“Agreement” means this Merchant Agreement together with any other documents or notices issued pursuant to this Agreement. 
        </li>
        <li>
          -	“Business Day” means any day (except Saturdays, Sundays and Public Holidays) on which Paydee is opened for business. 
        </li>
        <li>
          -	“Cardholder” means any person who is the holder of a Payment Card and uses it to pay of goods and/or services from a Merchant.
        </li>
        <li>
          -	“Chargeback” means a reversal of a Payment Card Transaction previously credited to the Merchant’s settlement account by Paydee because the Cardholder disputes the Payment Transaction in accordance with the rules and regulations of the relevant approved Payment System Operator.
        </li>
        <li>
          -	“Credit Card” means a Payment Card which indicates a line of credit or financing granted by the issuer to the Cardholder and where any amount of the credit utilised by the Cardholder has not been settled in full on or before a specified date the unsettled amount may be subject to interest, profit or other Payment Card Transaction until full settlement is made.
        </li>
        <li>
          -	“Debit Card” means a Payment Card where the transaction amount is deducted directly from the Cardholder’s current or saving’s bank account upon Authorisation.
        </li>  
        <li>
          -	“Issuer” means any bank or financial institution or other organization or institution authorised to issue a Payment Card and includes Paydee and their respective successors-in-title and assigns.
        </li>   
        <li>
          -	“MasterCard” means MasterCard Worldwide Inc., 2000 Purchase Street, Purchase, and NY10577 United States of America and includes its successors–in-title and assigns which is an approved operator of a payment system.
        </li>   
        <li>
          -	“Merchant” means the party and / or parties described in Paydee Merchant Application Form and this Agreement and who is a business entity or other person or firm or corporation, its employees, servants or agents which pursuant to this Agreement agrees to accept valid Visa and MasterCard Payment Cards and any other Payment Cards whether or not issued by Paydee, when properly presented.
        </li>   
        <li>
          -	“MID” means the unique identification number assigned by Paydee to the Merchant under the terms of this Agreement for each of the Payment Card Acceptance Services.
        </li>        
        <li>
          -	“MDR” means the Merchant discount rate chargeable by Paydee to the Merchant as stated in the Merchant Application Form.
        </li>  
        <li>
          -	“Paydee Link” means the payment gateway services provided by Paydee to enable transactions to be conducted online by Cardholders and for merchants to be able to charge transaction amount to cardholders via the payment gateway services. 
        </li>  
        <li>
          -	“Visa” means Visa International Inc., P.O. Box 8999, San Francisco, CA 94128, United States of America and includes its successors-in-title and assigns which is an approved operator of a payment system.
        </li>                                                                                                                                                  
      </ol>

      <h6 class="my-5">2.	MERCHANT’S OBLIGATIONS</h6>
      <p>2.1	Subject to the provisions of this Agreement, the Merchant shall perform the following in accordance with the terms of this Agreement:</p>

      <ol type="i">
        <li>
          to submit all necessary details and supporting documents designated in the Paydee Merchant Application Form and any other information as may be required by Paydee from time to time.
        </li>
        <li>
          shall inform Paydee on any changes on the Merchant’s name, business description, business logo and any information related to the Merchant. 
        </li>
        <li>
          shall make payment for the Application Fee prescribed in the Agreement for registering with Paydee Link. 
        </li>
        <li>
          provide the transparency and full description of the Goods/service available to the Cardholder including the cost of the Goods and the delivery or shipping charges in Ringgit Malaysia (RM) and description of any guarantees and warranties granted by the supplier or manufacturer for such Goods.
        </li>
        <li>
          provide the Paydee Link payment gateway page to customer via email or any other method suitable to enable transaction to be made. 
        </li>
        <li>
          perform all obligations under the Merchant’s contract with the Cardholders including the nature, quality and delivery of Goods sold to the Cardholders. 
        </li>
        <li>
          not require any Cardholder to pay any part of the Merchant Discount whether through an increase in price or otherwise or to pay any other charge or to impose any condition on a Cardholder in connection with any Transactions;
        </li>
        <li>
          ensure that the Goods/service provided by merchant are not prohibited and comply with the laws applicable.
        </li>
        <li>
          not to perform or accept any Transactions in any other locations outside Malaysia without Paydee’s  prior written approval.
        </li>
        <li>
          merchant will be provided with an MID (merchant unique identification number) by Paydee for the usage of Paydee Link service. 
        </li>
        <li>
          shall be responsible in conducting any reversal intentionally or unintentionally on the Paydee Link.
        </li>                                                                                    
      </ol>

      <h6 class="my-5">3.	SERVICE FEES</h6>
      <p>
        3.1	A service fee of RM 10.00 shall be payable by Merchant monthly once registration through Paydee Link has been successfully conducted. 
      </p>
      <p>
        3.2	The Service Fee is subject to change from time to time at Paydee’s discretion as may be notified by Paydee to the Merchant and will be effective on the date of the notice or later date as specified on the notice. 
      </p>
      <p>
        3.3	Paydee shall have the right to deduct the Service Fee from the account that the Merchant maintains with Paydee, in accordance with the Service Fees payment specified. 
      </p>
      <p>
        3.4	There shall be no refund of any Service Fees paid by the Merchant if the Agreement is terminated for any reason whatsoever.
      </p>
      <p>
        3.5	All Charges exclude all taxes and Paydee shall be entitled to add any applicable taxes to the Service Fees and Merchant shall bear all such taxes.
      </p>   
      
      <h6 class="my-5">4.	ACCESS TO PAYDEE LINK</h6>
      <p>
        4.1	Paydee will, to the extent that is necessary for the Merchant to fulfill the Merchant’s obligation under the Agreement, grant Paydee Link access to Merchant for the purpose of the Agreement.
      </p>
      <p>
        4.2	The Merchant shall comply with all guidelines issued and all directions given by Paydee from time to time in relation to access and use of Paydee Link.
      </p>
      <p>
        4.3	In accessing to Paydee Link, Merchant shall ensure that the login identity and password is only accessible by the Merchant’s authorized Personnel.
      </p>
      <p>
        4.4	Merchant is to notify Paydee immediately in circumstances where Merchant becomes aware that the login identity or password have become or may have become known by unauthorised person. 
      </p>
      <p>
        4.5	Paydee may undertake scheduled or unscheduled maintenance of Paydee Link from time to time and Paydee will notify the Merchant of the occurrence. Paydee shall not be liable for any losses incurred by the Merchant arising from Paydee’s performance of such maintenance. 
      </p>
      <p>
        4.6	Paydee may if deem necessary, at its absolute discretion, require the Merchant to cease accessing Paydee Link immediately in circumstances where there are any breaches of guidelines or regulations by Merchants.
      </p>


      <h6 class="my-5">5.	PAYMENT/SETTLEMENT BY PAYDEE</h6>
      <p>
        5.1	All Settlement payments by Paydee to the Merchant shall be made in RM only to the deposit account provided by the Merchant. 
      </p>
      <p>
        5.2	The payment timeline of Settlement may be amended by Paydee from time to time and such amendments will be notified to the Merchant before the effective date of such amendments. 
      </p>
      <p>
        5.3	Withholding of Payment
      </p>
      <p class="ml-4">
        5.3.1	Paydee is entitled to withhold payment for any irregularities that are detected and will examine and verify the transaction until payment could be released.
      </p>
      <p class="ml-4">
        5.3.2	It is hereby expressly agreed that Paydee shall be entitled to refuse any payment to the Merchant, and where payment has been made by Paydee, to off-set against the relevant amount successfully withheld such payment in any of the following circumstances:- 
      </p>      
      <p class="ml-4">
        <ol type="a">
          <li>
            if this Agreement is terminated by Paydee for any reason whatsoever; or 
          </li>
          <li>
            the transaction has been performed by the Merchant using an incorrect MID which differs from the Paydee Link MID which is granted to the Merchant by Paydee under the terms of this Agreement; or 
          </li>
          <li>
            the Merchant did not process the transaction in compliance with the terms herein; or 
          </li>
          <li>
            the transaction was incomplete and was or has been discovered to be fraudulent, altered, ineligible or illegal; or 
          </li>
          <li>
            the transaction is found to be a duplicate transaction; or 
          </li>
          <li>
            the transaction was not entered into and/or authorised by the Cardholder; or
          </li>
          <li>
            the transaction has been presented by the Merchant once before and payment has been made by Paydee; or 
          </li>    
          <li>
            the Cardholder disputed the sale transaction for whatsoever reason; or 
          </li>  
          <li>
            there is an investigation of the Payment Card Transaction by any governmental or regulatory authorities or police having jurisdiction over such matters.
          </li>                                                                                                           
        </ol>  
      </p>  
      <p>
        5.4	Merchant Discount Rate
      </p>      
      <p class="ml-4">
        5.4.1	The merchant must pay the Merchant Discount Rate (MDR) in RM as stipulated in the Merchant Application Form accordingly to Paydee. The MDR is specifically based on the type of merchant who signs up for the Paydee Link service. 
      </p>
      <p class="ml-4">
        5.4.2	The MDR may be amended by Paydee from time to time and such amendments will be notified to the Merchant before the effective date of such amendments. 
      </p>

      <h6 class="my-5">6.	RIGHTS TO SET-OFF AND CONSOLIDATION </h6>
      <p>
        Notwithstanding any other rights available to Paydee under this Agreement, Paydee may at its absolute discretion, and at any time without notice or assigning reason thereof withhold and, off-set against Merchant’s settlement claims or debit any or all of the Merchant settlement accounts with Paydee of whatever description and wherever located for the purpose of the amount withheld under Clause 4.3.2 or towards the reduction or discharge of any sum due to Paydee by the Merchant under any of the terms of this Agreement.
      </p>


      <h6 class="my-5">7.	SUSPENSION AND TERMINATION </h6>
      <p>
        7.1	Notwithstanding any other rights available to Paydee under this
         Agreement, Paydee shall be entitled to suspend 
         the Merchant from accepting any Payment Transaction under the 
         terms of this Agreement with immediate effect for a period of 
         time which shall be identified by Paydee upon the occurrence of 
         any of the following:- 
      </p>
      <ol type="a">
      <li>
        In Paydee reasonable opinion that the Merchant is engaged in prohibited,
         irregular or fraudulent or illegal transactions: or 
      </li>
      <li>
        The Merchant is identified by VISA or MasterCard or suspected by Paydee to be the source of
         compromised Payment Card information. 
      </li>      
      </ol>

      <p>
        7.2	 Notwithstanding any other provision in this Agreement, either Party may give not less than one (1) month notice in writing in advance to the other Party to terminate this Agreement, Paydee may forthwith terminate this Agreement if the Merchant;
      </p>
      <ol type="a">
        <li>
          become insolvent or enter bankruptcy, receivership or administration or make an assignment for the benefit of its creditors generally; and/or
        </li>
        <li>
          if any step is taken for the winding-up, dissolution, liquidation or restructuring or a petition for winding-up (whether voluntary or otherwise) or bankruptcy proceedings, as the case maybe, is presented against the Merchant; and/or
        </li>  
        <li>
          if a receiver and/or manager have been appointed over the Merchant for any reason whatsoever; and/or
        </li>   
        <li>
          suffer an execution, attachment, repossession of or foreclosure on all or substantially all of its assets; and/or
        </li>   
        <li>
          cease all or a substantial portion of its business or operations; and/or
        </li>   
        <li>
          undergo a merger or substantial change in ownership or control; and/or
        </li>   
        <li>
          if the Merchant serves any custodial sentence, becomes insane or dies; and/or
        </li>   
        <li>
          if the Merchant defaults on any account or accounts or facilities it has with Paydee; and/or
        </li>   
        <li>
          if the Merchant or any of its employees is known or suspected to be involves in any fraudulent or any unlawful activity whether or not relative to the Merchant’s business; and/or 
        </li>   
        <li>
          if the Merchant fails to notify Paydee of any changes of business ownership, shareholding or change of business/company name. 
        </li>   
      </ol>



      <h6 class="my-5">8.	CHARGEBACK / DISPUTE TRANSACTIONS</h6>
      <p>
        8.1	Upon receiving a Chargeback or Retrieval Request from an Issuer, the Merchant is required to pay upon demand by Paydee, the payment amount by cardholder at the rate imposed or to be imposed from time to time by Master Card or Visa. Paydee shall impose a processing fee at the prevailing published rate to the Merchant for each Chargeback or Retrieval Request received. 
      </p>
      <p>
        8.2	Paydee may withhold amounts payable to the Merchant for Chargeback reserves or Retrieval Request. 
      </p>
      <p>
        8.3	Paydee shall, on an on-going basis, closely monitor the Chargeback performance by the Merchant pursuant to the standards by Visa and Mastercard. 
      </p>



      <h6 class="my-5">9.	DISCLOSURE OF INFORMATION </h6>
      <p>
        9.1	The Merchant hereby authorises Paydee and/or its officers to make use of, disclose, divulge or reveal any information relating to the Merchant and its accounts in such manner and to such extent as Paydee shall from time to time consider necessary to any consultant, agent or subcontractor or to any person for any purpose in connection with any Paydee Link services or for any purpose in connection with the enforcement of any terms of this Agreement or to any authority or body established by BNM or any other competent authority or bodies having jurisdiction over Paydee or to any Issuer bank or financial institution or VISA/MasterCard or any other payment network operator. 
      </p>
      <p>
        9.2	The Merchant hereby authorises Paydee and/or its officers to make use of, disclose, divulge or reveal any information relating to its accounts for purposes of in connection with any action or proceeding taken for the purpose of Chargeback under Clause 7 or towards the recovery of monies due and payable by the Merchant to Paydee. 
      </p>
      <p>
        9.3	The Merchant hereby undertakes and covenants that it shall keep all information which comes into possession pursuant to or during the course of this Agreement confidential and shall not disclose to any persons such information without obtaining prior written consent of Paydee. The Merchant shall ensure that its employees and/or agents who have access to such information comply with this confidentiality clause. 
      </p>
    <p>
      9.4	The Merchant declares that all information given to Paydee are true and complete and the Merchant authorize and consent Paydee to verify the information given herein from whatever sources including without limitation any credit bureau established by authorities pursuant to any applicable law, regulations or directive (whether having the force of law or otherwise) or any party as Paydee deem fit may be required and to use, release or exchange such information as may be obtained without further permission or consent from the Merchant. 
    </p>
    <p>
      9.5	Paydee shall reserve the right to approve or reject any additional application for Paydee Link services from the Merchant as it deems fit without providing any reasons thereof. 
    </p>

    <h6 class="my-5">10	CONFIDENTIALITY</h6>
    <p>
      Notwithstanding Clause 8, this Agreement and all matters pertaining hereto including but not limited to, all information relating to Cardholder shall be considered as confidential in nature and shall not be disclosed by the Merchant to any third party unless the said disclosure is mandatory by law. The Merchant shall keep confidential any information it receives from Paydee that is not publicly available. The Merchant shall take all steps necessary to prevent the transfer or disclosure of Cardholder information to any third party and will not sell, copy, reproduce or store in any form the names and addresses of Cardholder for any purpose whatsoever. 
    </p>

    <h6 class="my-5">11	 MISCELLANEOUS </h6>
    <p>
      11.1	Compliance with Laws 
    </p>
    <ol type="a">
      <li>
        This Agreement shall be governed by the laws and directives of regulatory authorities of Malaysia no matter where the transaction takes place and the Merchant hereby irrevocably submits to the non-exclusive jurisdiction of the courts of Malaysia and waives any objection to proceeding instituted in any other courts by Paydee on the ground of venue or that such proceedings have been brought in an inconvenient forum. 
      </li>
      <li>
        The Merchant agrees to be bound by the terms and conditions of this Agreement and will not contravene the rules, guidelines and regulations issued by BNM and/or Visa/MasterCard. 
      </li>
      <li>
        Online payment fraud is a serious offense and in order to protect the Merchant from any allegations of collusion as well as to prevent the spread of counterfeit syndicate activities via unwitting Merchants, the Merchant shall irrevocably authorised Paydee to disclose any information concerning the Merchant to any other person for any purpose in connection with the transaction through Paydee Link. 
      </li>
      <li>
        In the event of any fraudulent transaction being brought to the attention of Paydee, Paydee shall debit an equivalent amount from Merchant settlement proceeds; such amount will be released upon completion of the investigation which concludes that the Merchant is not a party to the fraudulent transaction. The Merchant agrees to repay Paydee and Paydee will have the right to debit such charges from the Merchant’s settlement account without any prior notice. Paydee have the right to mandate collateral, Chargeback reserves, or a depository requirement as additional protection against financial exposure in the event the Merchant is found to be engaged in such activities as listed in Clause 11.1. 
      </li>
      <li>
        The Merchant has the legal obligation under applicable Malaysian Laws to implement and identify money laundering and terrorism financing activities at all times and to keep Paydee informed of such procedures upon request.  
      </li>
      <li>
        The Merchant must not cause or permit to be done anything that may damage or endanger any “VISA” and/or “MasterCard” and/or “Paydee” trademarks, service marks, logos, names and designs or trademark or any other intellectual property rights owned by or licensed to VISA and/or MasterCard and/or Paydee. 
      </li>
    </ol>


    <h6 class="my-5">12	LIMITATION OF LIABILITY  </h6>
    <p>
      12.1	Without prejudice to any other provisions herein, Paydee shall not be liable to the Merchant or any third parties for damages, loss of profits or earnings, goodwill or any type of special/ exemplary, incidental, direct or consequential loss or damage howsoever arising even if Paydee has been advised of the possibility of such loss or damage or claim by any third party. 
    </p>
    <p>
      12.2	Subject to the provisions herein, Paydee’ sole and entire liability to the Merchant in contract, tort (including negligence or breach of statutory duty) or otherwise arising by reason of or in connection with this Agreement or howsoever shall not exceed the MDR on the amount or value of the transaction which gave rise to the claim or the direct damages sustained, whichever is the lower. 
    </p>
    <p>
      12.3	Notwithstanding anything to the contrary in this Agreement, in the event Paydee withholds payment and/or does not make a payment for transactions in any instances stated herein provided, Paydee shall not be liable to the Merchant for any losses, claims, demands, proceedings, damages, late payment charges penalties or expenses whatsoever incurred by the Merchant by reason of non-payment or late payment by Paydee or in relation to or arising from this Agreement. 
    </p>

    <h6 class="my-5">13	NOTICES</h6>
    <p>
      13.1	Save as it is otherwise expressly provided herein any notice or demand to be given under this Agreement shall be in any of the following ways:-
    </p>
    <ol type="a">
      <li>
        by ordinary mail to the other party and such notice or demand shall be deemed to have been served on the recipient three (3) Business Days after posting notwithstanding that it may be undelivered an in proving such service it shall be sufficient that the notice or demand was properly addressed and posted; or
      </li>
      <li>
      by dispatch or courier to the other party and such notice or demand shall be deemed to be given upon acknowledgment; or
      </li>
      <li>
        by e-mail to the Merchant’s business e-mail address provided to Paydee for payment and other notification purposes.
      </li>
    </ol>

    <h6 class="my-5">14	WAIVER</h6>    
    <p>
      Time shall be the essence of this Agreement but no failure to exercise or any delay in exercising on the part of Paydee of any right power privilege or remedy shall operate as a waiver thereof, nor shall any single or partial exercise of any right power privilege or remedy preclude any other or further exercise thereof or the exercise of any other right power privilege or remedy. The rights and remedies herein provided are cumulative and not exclusive of any right or remedy provided by law. Acceptance of payments by Paydee under this Agreement and/or any other indulgence given by Paydee shall not be deemed to operate as a waiver by Paydee of any right of action against the Merchant.
    </p>

    <h6 class="my-5">15	ASSIGNMENT</h6> 
    <p>
      The Merchant shall not assign, subcontract or transfer this Agreement in whole or in part to any person or entity without Paydee prior written consent. Paydee shall be entitled to assign or subcontract this Agreement in whole or in part to any of Paydee holding, subsidiaries or affiliate companies upon written notice to Merchant.
    </p> 
 
    <h6 class="my-5">16	BINDING EFFECT</h6> 
    <p>
      16.1 This Agreement shall be binding on the Merchant’s personal representatives, heirs, successor’s in-title and legal assigns and on the successor’s in-title and assigns of Paydee.
    </p>
    <p class="mb-4">
      16.2	The Merchant undertakes to immediately inform Paydee of any change in the name, style, constitution or composition of the Merchant whether by retirement, expulsion, death or admission of any partner or parties, amalgamation, reconstruction or otherwise and the Merchant hereby agrees that this Agreement shall endure and be available for all intents and purposes as if the resulting firm, company or concern had been named in this Agreement.
    </p>

    
    </div>
  </div>
</div>



{% endblock contentA %}

{% block contentB %}
<!--party="ptyokesanchong" -->
<call-us 
     style="position: fixed; right: 20px; bottom: 20px; 
         font-family: Arial; 
         z-index: 99999; 
         --call-us-form-header-background:#373737;
         --call-us-main-button-background:#21948D;
         --call-us-client-text-color:#d4d4d4;
         --call-us-agent-text-color:#eeeeee;
         --call-us-form-height:330px;" 
     id="wp-live-chat-by-3CX" 
     channel-url="https://paydee-voice.nkhconnect.com" 
     files-url="https://paydee-voice.nkhconnect.com" 
     minimized="true" 
     animation-style="none" 
     party="click2talk588332" 
     minimized-style="BubbleRight" 
     allow-call="false" 
     allow-video="false" 
     allow-soundnotifications="true" 
     enable-mute="true" 
     enable-onmobile="true" 
     offline-enabled="true" 
     enable="true" 
     ignore-queueownership="false" 
     authentication="both" 
     operator-name="Support" 
     show-operator-actual-name="true" 
     channel="phone" 
     aknowledge-received="true" 
     gdpr-enabled="false" 
     gdpr-message="I agree that my personal data to be processed and for the use of cookies in order to engage in a chat processed by COMPANY, for the purpose of Chat/Support for the time of  30 day(s) as per the GDPR." 
     message-userinfo-format="both" 
     message-dateformat="both" 
     start-chat-button-text="Chat" 
     window-title="Live Chat & Talk" 
     button-icon-type="Default" 
     invite-message="Hello! How can we help you today?" 
     authentication-message="Could we have your name and email?" 
     unavailable-message="We are away, leave us a message!" 
     offline-finish-message="We received your message and we'll contact you soon." 
     ending-message="Your session is over. Please feel free to contact us again!" 
     greeting-visibility="none" 
     greeting-offline-visibility="none" 
     chat-delay="2000" 
     offline-name-message="Could we have your name?" 
     offline-email-message="Could we have your email?" 
     offline-form-invalid-name="I'm sorry, the provided name is not valid." 
     offline-form-maximum-characters-reached="Maximum characters reached" 
     offline-form-invalid-email="I'm sorry, that doesn't look like an email address. Can you try again?" 
     enable-direct-call="true" 
     enable-ga="false" 
     >
</call-us>


<script defer src="https://cdn.3cx.com/livechat/v1/callus.js" id="tcx-callus-js"></script>
{% endblock contentB %}


{% block script %}
{% endblock %}